.e-ui-accordion-header {
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  zoom: 1;
}

.e-ui-accordion-header-content {
  border-bottom: 1px solid #dadada;
  padding-bottom: 10px;
}

.e-ui-accordion-tabindex {
  color: #808080;
  border: 1px solid #dadada;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  padding-left: 10px;
}

.e-ui-accordion .e-ui-accordion-header a {
  display: block;
  padding: 0.5em;
}

.e-ui-accordion .e-ui-accordion-toggle-icon,
.e-ui-accordion .e-ui-accordion-header-text {
  vertical-align: middle;
}

.e-ui-accordion-content {
  padding: 2em;
  border-top: 0;
  overflow: visible;
  zoom: 1;
}

.e-ui-accordion .e-ui-accordion-header.ui-state-disabled,
.e-ui-accordion .e-ui-accordion-header.ui-state-disabled a {
  cursor: default;
}

.e-ui-accordion-content-wrapper-overflown {
  overflow: hidden;
}

.ui-rtl .e-ui-accordion .e-ui-accordion-header a {
  padding: 0.5em 2em 0.5em 0.5em;
}

.ui-rtl .e-ui-accordion .e-ui-accordion-toggle-icon {
  left: initial;
  right: 0.5em;
}

.ui-rtl .e-ui-accordion .e-ui-accordion-toggle-icon.pi-caret-right:before {
  content: "\e904";
}
