<p-accordion>
  <p-accordionTab [header]="question.questionText" *ngFor="let question of questionList">
    <div class="p-grid">
      <div class="p-col-1">
        <p-radioButton name="groupname" value="val1" label="Yes"></p-radioButton>
      </div>
      <div class="p-col-1">
        <p-radioButton name="groupname" value="val2" label="No"></p-radioButton>
      </div>
      <div class="p-col-1">
        <p-radioButton name="groupname" value="val2" label="Not Available"></p-radioButton>
      </div>
    </div>
    <p-accordion>
      <p-accordionTab [header]="attachment.label" *ngFor="let attachment of question.attachmentList">
        <div class="p-grid">
          <div class="p-col-1">
            <p-radioButton name="groupname" value="val1" label="Yes"></p-radioButton>
          </div>
          <div class="p-col-1">
            <p-radioButton name="groupname" value="val2" label="No"></p-radioButton>
          </div>
          <div class="p-col-1">
            <p-radioButton name="groupname" value="val2" label="Not Available"></p-radioButton>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </p-accordionTab>
</p-accordion>
