.mypanel {
  background-color: white;
  color: #222;
  margin-bottom: 3px;
}

.mypanel .title {
  background-color: #f4f4f4;
  width: 100%;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #c8c8c8;
}

.mypanel .body {
  padding: 10px;
}

.mypanel .body.hidden {
  display: none;
}

.mypanel .icon {
  color: #848484;
}
